@model Glob.Data.Models.Post

@{
    ViewData["Title"] = "Delete";
}

<h2>Kustuta</h2>

<h3>Oled sa kindel, et soovid postitust kustutada?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Pealkiri
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
           Sisu
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt>
            Kuupäev
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PostId" />
        <input type="submit" value="Kustuta" class="btn btn-default" /> |
        <a asp-action="Index">Tagasi</a>
    </form>
</div>
