@model Glob.Data.Models.Post

@{
    ViewData["Title"] = "Details";
}

<h2>Postituse Info</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Pealkiri
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            Sisu
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt>
            Kuupäev
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PostId">Muuda</a> |
    <a asp-action="Index">Tagasi</a>
</div>
