@{
    ViewData["Title"] = "Home Page";
}
@model List<Post>
@foreach (var item in Model)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            @item.Title
        </div>
        <div class="panel-body">
            @item.Content
        </div>
        <div class="panel-footer">
            @item.Date
        </div>
        

    </div>
}
